.titulo__ofertas{
    background-color: #d4d4;
    color: darkorange;
    font-family: cursive, sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 2px 2px black;
    padding: 2rem;
}
@media screen and (min-width:980px) {
    .titulo__ofertas{
        font-size: 50px;
        text-shadow: 2px 3px black;
        border-bottom: 1px solid gray;
        
    }
}
